*{
  margin: 0;
  padding: 0;
}
#container {
  width:100%;
  margin:auto;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
  padding-left: 30px;
  padding-right: 18px;
}

#square{
  min-width: 103px;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  position: relative; 
  z-index: -1;
  transform: translate(-0%, -17%);
  
}

.fixed {
  position: fixed;
  top:70%;
  left: 1390px;
  z-index: 1;
}
.heroimg {
  display: flex;
  position:flex-end;
  padding-top: 2px;
}

.sub_nav{
  text-align: center;
 
  width: 1513px;
  display: flex;
  justify-content: space-between;
}
  

button { 
  min-width: 375px;
margin: 0px;
height: 81Px;
  background-color: #57C2DA;
  color: white;
  position: relative; top: -170px;
  border: none;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
}



.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  position: relative; top: -80px;
  

}
h1{
  color: #AD150B;
  font-family: "nunito"; 
  font-weight: 600;
  font-size: 40px;
  margin:0px;

   
}

.aboutme {
  grid-area: aboutme;
  /*float letter left*/
  margin-right: 50px;
  position: relative;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.firstp { 
  font-size:  30px;
  line-height: 50px;
  font-weight: 700;
  position: relative; top: 20px;

}
.secondp {
  
  font-size:  30px;
  line-height: 50px;
  font-weight: 400px;
  position: relative; top: 56px;
}

.thirdp {
    font-size:  30px;
  line-height: 50px;
  font-weight: 400px;
  position: relative; top: 80px;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width:90%;
  margin: auto;
}

.portrait img{
  width: 459px;
  height: 705px;
 
}

.line{
  width: 1513px;
  height: 81px;
  background-color: #57C2DA;
  }

  #skills p{
    color: #AD150B;
    font-weight: 600;
    font-size: 40px;
    margin:80px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    position: relative; 
    
  }
  
  
  #projects p{
    color: #AD150B;
    font-weight: 600;
    font-size: 40px;
    margin:80px;
    margin-right: 50px;
    font-family: 'Nunito', sans-serif;
    position: relative; 
    
  } 
    
main {
  display: flex;
  flex-direction: column;
  padding: 2em 10%;
}

#skills-header h1 {
  font-size: 3em;
  text-align: center;
  display: inline-block;
  padding: 30px;
}


#skills-grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}
#skills-grid ul li{
  word-wrap: break-word;

}
.image_container{
  text-align: center;
}

}
.portfolio-grid-item {
  padding: 2em;
}

 figure img{
   margin-left: auto;
 }
   
ul{
  list-style: none;
}

ul li{
  font-family: 'Nunito', sans-serif;
  padding: 10px;
}

h2{
  color: #AD150B;
  font-family: "nunito"; 
  font-weight: 600;
  font-size: 40px;
  margin:0px;
  display: center;
   
}
line1{
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
  }